doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel="stylesheet", href="/dist/style.css")
    link(rel="shortcut icon" type="image/png" href="/images/icons/twitter.svg")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block header
      header.top
        nav.nav
          .nav__controls.nav__controls--left
            li.nav__item.hover-highlight(class=(currentPath == "/" ? "hover-highlight--active" : ""))
              a.nav__link(href="/")
                i.material-icons.nav__link--icon home
                span.nav__link--text Home
            if user
              li.nav__item.hover-highlight(class=(currentPath.startsWith("/notifications") ? "hover-highlight--active" : ""))
                a.nav__link(href="/notifications")
                  i.material-icons.nav__link--icon notifications
                  span.nav__link--text Notifications
              li.nav__item.hover-highlight(class=(currentPath.startsWith("/messages") ? "hover-highlight--active" : ""))
                a.nav__link(href="/messages")
                  i.material-icons.nav__link--icon email
                  span.nav__link--text Messages
          .nav__brand
            a.nav__link(href="/")
              i.fa.fa-circle.fa-2x(aria-hidden="true")
          .nav__controls.nav__controls--right
            .nav__search
              input.nav__search--input(type="text")
              a.nav__search--icon(href="#")
                i.material-icons search
            .dropdown.nav__avatar--dropdown
              button.dropdown__toggle-btn.nav__avatar--btn
                img(src=`${user && user.avatar ? '/uploads/' + user.avatar : '/images/avatar/user.jpg'}`).nav__avatar--image
              .dropdown__menu
                ul.dropdown__list
                  if !user
                    a(href="/login").dropdown__link
                      button.dropdown__link-btn.nav__btn Login
                    a(href="/register")
                      button.dropdown__link-btn.nav__btn Sign Up
                  else
                    a(href="/logout").dropdown__link
                      button.dropdown__link-btn.dropdown__link-btn--danger.nav__btn Logout
            if user
              button.tweet-btn Tweet

    block messages
      if Object.keys(locals.flashes).length
        .flash-banner
          .flash-messages
            - const categories = Object.keys(locals.flashes)
            each category in categories
              each message in flashes[category]
                .flash(class=`flash--${category}`)
                  p.flash__text!= message
                  button.flash__remove(onClick="this.parentElement.remove()") &times;

    block content

    block scripts

      script(src="/dist/App.bundle.js")
