extends layout

include mixins/_tweetCard

block content
  .split-container
    .split-container__item
      .user-info
        a(href=`/${profile.handle}`).user-info__name= profile.name
        a(href=`/${profile.handle}`).user-info__handle @#{profile.handle}
        p.user-info__bio= profile.bio
        span.user-info__joined
          i.fa.fa-calendar
          |  Joined #{profile.created}
    .split-container__item
      ul.feed
        each tweet in profile.tweets
          li.feed__item
            +tweetCard(tweet)
    .split-container__item
