extends ../layout

//- /handle/ = profile = found user || user = logged in user
include ../mixins/_followBtn

block content
  - const isOwner = user._id.equals(profile._id);
  .user-banner
    if(profile.bannerImage)
      img(src=`${profile.bannerImage}`).user-banner__image
    else 
      .user-banner__image
    .user-banner__nav
      .content
        .flex-container
          .flex-container__item
            img(width="200" src=`${profile.avatar ? '/uploads/' + profile.avatar : '/images/avatar/user.jpg'}`).user-banner__user-image
          .flex-container__item
            ul.user-banner__nav-list
              if(profile.tweets.length > 0)
                 li.user-banner__nav-item.hover-highlight(class=(currentPath == `/${profile.handle}` ? "hover-highlight--active" : ""))
                  a.user-banner__nav-link(href=`/${profile.handle}`)
                    span.user-banner__nav-title Tweets
                    span.user-banner__nav-value= profile.tweets.length
              li.user-banner__nav-item.hover-highlight(class=(currentPath == `/${profile.handle}/following` ? "hover-highlight--active" : ""))
                a.user-banner__nav-link(href=`/${profile.handle}/following`)
                  span.user-banner__nav-title Following
                  span.user-banner__nav-value(id=`following-count-${profile._id}`)= profile.following.length
              li.user-banner__nav-item.hover-highlight(class=(currentPath == `/${profile.handle}/followers` ? "hover-highlight--active" : ""))
                a.user-banner__nav-link(href=`/${profile.handle}/followers`)
                  span.user-banner__nav-title Followers
                  span.user-banner__nav-value(id=`followers-count-${profile._id}`)= profile.followers.length
              li.user-banner__nav-item.hover-highlight(class=(currentPath == `/${profile.handle}/likes` ? "hover-highlight--active" : ""))
                a.user-banner__nav-link(href=`/${profile.handle}/likes`)
                  span.user-banner__nav-title Likes
                  span.user-banner__nav-value= profile.likes.length
          .flex-container__item
            .user-banner__nav-btns
              if(isOwner)
                button.user-banner__btn.user-banner__btn--edit.tweet-btn Edit profile
                button.user-banner__btn.user-banner__btn--cancel-edit.user-banner__btn--hidden.tweet-btn Cancel
                button.user-banner__btn.user-banner__btn--save-edit.user-banner__btn--hidden.tweet-btn Save Changes
              else
                +followBtn(profile, `#followers-count-${profile._id}`)
  .content
    .flex-container
      .flex-container__item
        .user-info
          a(href=`/${profile.handle}`).user-info__link.user-info__name= profile.name
          a(href=`/${profile.handle}`).user-info__link.user-info__handle
            | @
            span.user-info__handle--name= profile.handle
          p.user-info__bio= profile.bio || "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis obcaecati accusamus corrupti doloremque aliquid soluta voluptas quam sed commodi, quidem, saepe in quibusdam reprehenderit placeat nisi. Velit pariatur delectus numquam."
          span.user-info__joined
            i.fa.fa-calendar
            - const monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            |  Joined #{monthNames[profile.joined.getMonth()]} #{profile.joined.getFullYear()}
      block content
