mixin tweetCard(tweet, author = user)
  .card.tweet-card
      //- pre= h.dump(tweet)
      img(src=`${author.avatar ? '/uploads/' + author.avatar : '/images/avatar/user.jpg'}`).tweet-card__author-image
      .tweet-card__content
        .tweet-card__header
          span.tweet-card__name= author.name
          span.tweet-card__handle @#{author.handle}
          span.tweet-card__time= h.moment(tweet.created).fromNow()
        .tweet-card__body
          p.tweet-card__text= tweet.body
          if(tweet.image)
            img(src=`/uploads/${tweet.image}`).tweet-card__image
        .tweet-card__controls
          span.tweet-card__controls--replies
            i.fa.fa-comments-o
            p.tweet-card__controls--replies-count= tweet.replies.length > 0 ? tweet.replies.length: ''
          span.tweet-card__controls--retweet
            i.fa.fa-retweet
            p.tweet-card__controls--retweet-count= tweet.retweets > 0 ? tweet.retweets : ''
          span.tweet-card__controls--like
            i.fa.fa-heart-o
            p.tweet-card__controls--like-count= tweet.likes > 0 ? tweet.likes : ''
          span.tweet-card__controls--message