mixin tweetCard(tweet, author = user)
  .card.tweet-card
      //- pre= h.dump(tweet)
      img(src=`${author.avatar ? '/uploads/' + author.avatar : '/images/avatar/user.jpg'}`).tweet-card__author-image
      .tweet-card__content
        .tweet-card__header
          .tweet-card__header--info
            span.tweet-card__name= author.name
            span.tweet-card__handle @#{author.handle}
            span.tweet-card__time= h.moment(tweet.created).fromNow()
          .dropdown.tweet-card__dropdown
            button.dropdown__toggle-btn
              i.fa.fa-chevron-down
            .dropdown__menu
              ul.dropdown__list
                li.dropdown__link
                  button(data-clipboard-action="copy"  data-clipboard-text=`/${author.handle}/status/${tweet._id}`).dropdown__link-btn Copy link to Tweet
                if(tweet.author.equals(user._id))
                  li.dropdown__link
                    form(action=`/tweet/${tweet._id}?_method=DELETE` method="POST").dropdown__form
                      button.dropdown__link-btn.dropdown__link-btn--danger Delete Tweet
        .tweet-card__body
          p.tweet-card__text= tweet.body
          if(tweet.image)
            img(src=`/uploads/${tweet.image}`).tweet-card__image
        .tweet-card__controls
          span.tweet-card__control-item
            i.fa.fa-comments-o.tweet-card__control-item--icon
            p.tweet-card__control-item--value= tweet.replies.length > 0 ? h.formatNumber(tweet.replies.length) : ''
          span.tweet-card__control-item
            i.fa.fa-retweet.tweet-card__control-item--icon
            p.tweet-card__control-item--value= tweet.retweets > 0 ? h.formatNumber(tweet.retweets) : ''
          span.tweet-card__control-item
            i.fa.fa-heart-o.tweet-card__control-item--icon
            p.tweet-card__control-item--value= tweet.likes > 0 ? h.formatNumber(tweet.likes) : ''
          span.tweet-card__controls--message