mixin userCard(target = user)
  pre= h.dump(target)
  .user-card
    .user-card__header
      img(src=`${target.avatar ? '/uploads/' + target.avatar : '/images/avatar/user.jpg'}`).user-card__image
      .user-card__header--aside
        p.user-card__name= target.name
        p.user-card__handle @#{target.handle}
    .usercard__stats
      a(href=`/${target.handle}`).usercard__stats--item
        p.usercard__stats--title Tweets
        p.usercard__stats--value= target.tweets.length
      a(href=`/${target.handle}/following`).usercard__stats--item
        p.usercard__stats--title Following
        p.usercard__stats--value= target.following.length
      a(href=`/${target.handle}/followers`).usercard__stats--item
        p.usercard__stats--title Followers
        p.usercard__stats--value= target.followers.length

