mixin userCard(target = user)
  .card.user-card
    .user-card__header
      a(href=`/${target.handle}`).user-card__link
        img(src=`${target.avatar ? '/uploads/' + target.avatar : '/images/avatar/user.jpg'}`).user-card__image
      .user-card__header--aside
        a(href=`/${target.handle}`).user-card__link
          p.user-card__name= target.name
        a(href=`/${target.handle}`).user-card__link
          p.user-card__handle @#{target.handle}
    .user-card__stats
      a(href=`/${target.handle}`).user-card__link.user-card__stats--item
        p.user-card__stats--title Tweets
        p.user-card__stats--value= target.tweets.length
      a(href=`/${target.handle}/following`).user-card__link.user-card__stats--item
        p.user-card__stats--title Following
        p.user-card__stats--value= target.following.length
      a(href=`/${target.handle}/followers`).user-card__link.user-card__stats--item
        p.user-card__stats--title Followers
        p.user-card__stats--value= target.followers.length

